TWILIO_SID=AC6xxx
TWILIO_TOKEN=14fxxx
OPENAI_KEY=sk-l5xxx
WA_ACCESS_TOKEN=EAAMol3txxxx
WA_PHONE_ID=10811xxxx
MY_PHONE_NUMBER=9182xxxx
# First 3 from: https://www.youtube.com/watch?v=MLDexb0siww
# Last 3 from: https://medium.com/@today.rafi/whatsapp-cloud-api-how-to-send-whatsapp-messages-from-python-9baa03c93b5d